name: dev-path-trigger

on:
  push:
    branches:
      - dev 
    paths:
      - 'src/**'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      
      - name: run script
        run: python src/main.py   