name: starte workflow

on:
    push:

jobs:       
  list-files:
    runs-on: ubuntu-latest
    
    steps:
      - name: checkout repository 
        uses: actions/checkout@v4

      - name: list files
        run: ls
        